version: '3.9'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      NEXTAUTH_URL: "http://localhost:3000"
      NEXTAUTH_SECRET: "changeme-dev-secret" # replace in prod
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/essentialmixdb?schema=public"
    depends_on:
      - db
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: essentialmixdb
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: {}
